.nav{
    width: 100%;
    height: 3rem;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0.5px 1px black;
    position: relative;
}
.image img{
    width: 120px;
}
.menu{
    width: 2.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    cursor: pointer;
}
.menu span{
    width: 100%;
    height: 0.4rem;
    background-color: white;
    margin: 0.2rem;
    border-radius: 0.5rem;

}
.menu-options{

    width: fit-content;
    position: absolute;
    top: 3.1rem;
    right:0.5rem;
    background-color: cadetblue;
 
    border-radius: 0 0 10px 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
}
.menu-options ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.open{
    display: flex;
}
.webcam{
    position: fixed;
    bottom: 10px;
    right: 1rem;
    
}



.complete-message {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scaleUpDown 2s infinite;
}


@keyframes scaleUpDown {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}

.form{
    display: none;
}


.options{
    cursor: pointer;
}

.text-submit-button{
    position: absolute;
    bottom: 0;
    

}


.mcq-container {
    background: linear-gradient(to bottom, rgb(222, 224, 224), rgb(72, 164, 234));
    width: 75%;
    height: 80%;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.mcq-inner-container{
    margin: 0 auto;
    width: 90%;
    height: 90%;
    /* border: 2px solid black; */
    box-shadow: 0px 0px 5px rgb(20, 20, 20);
    margin: 2rem;
    background-image: url("https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-63452.jpg?ga=GA1.1.1691537548.1719505143&semt=ais_hybrid");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}



@media screen and (max-width: 300px) {
    /* Your CSS styles here */
    .login-form{

        width: 100% !important;
    }
}
